<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-THRIFT online customer to customer plateform</title>
    <link rel="stylesheet" href="{{base_url}}/css/style.css">
    <link rel="stylesheet" href="{{base_url}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{base_url}}/css/site.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="{{base_url}}/js/jquery.min.js"></script>

</head>

<body>
    {{!-- {{> header}} --}}
    <div class="pt-5"></div>
    {{{body}}}
    <script src="{{base_url}}/js/jquery.min.js"></script>
    <script src="{{base_url}}/js/bootstrap.bundle.min.js"></script>

</body>

</html>