<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{{base_url}}/css/site.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="{{base_url}}/js/jquery.min.js"></script>
</head>

<body>
   {{> header}}
    
    {{itemName}}
     
    <div class="product-sec">
        <div class="container">
            <div class="head">
                <h1>Products</h1>
            </div>

            <div class="row">
{{#each itemDatas}}
                <div class="pro-box">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="item/{{_id}}" class="image">
                                <img class="img-1" src="{{base_url}}/img/noImage.jpg">
                            </a>

                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="item/{{_id}}">{{itemName}}</a></h3>
                            <div class="price">${{itemPrice}}</div>
                        </div>
                    </div>
                </div>
{{/each}}
                <div class="pro-box">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="singleproduct" class="image">
                                <img class="img-1" src="{{base_url}}/img/noImage.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Jacket</a></h3>
                            <div class="price">$85.99</div>
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>


    {{> footer}}
</body>

</html>