{{> header}}
<main class="pro-detail container">
   <!-- Left Column / Headphones Image -->
   <div class="left-column">
      {{!-- <div class="col-lg-5"> --}}
         <!-- Product image -->
         <a href="javascript: void(0);" class="text-center d-block mb-9 first-img">
            <img src="{{base_url}}/img/{{itemDatas.photos.[0]}}" class="img-fluid main-img"
               style="max-width: 500px;margin-bottom: 10px;" alt="Product-img">
         </a>

         <div class="d-lg-flex d-none justify-content-center">
            {{#each itemDatas.photos}}
            <a href="javascript: void(0);">
               <img src="{{base_url}}/img/{{this}}" class="img-fluid img-thumbnail p-2" style="max-width: 150px;"
                  alt="Product-img">
            </a>
            {{/each}}
         </div>
         {{!--
      </div> --}}
      {{!-- {{#if itemDatas.photos}}
      <img data-image="red" class="active single-img" src="{{base_url}}/img/{{itemDatas.photos.[0]}}" alt="">
      {{else}}
      <img class="img-1 single-img" src="{{base_url}}/img/noImage.jpg">
      {{/if}} --}}
   </div>
   <!-- Right Column -->
   <div class="right-column">
      <!-- Product Description -->
      <div class="product-description">
         <label class="seller_name">Seller Name : <a
               href="/item/review?id={{userDatas._id}}&name={{userDatas.firstName}}">{{userDatas.firstName}}
               {{userDatas.lastName}}</a></label>
         <br>
         {{#if itemDatas.status}}
         <span>Available</span>
         {{/if}}
         <h1>{{itemDatas.itemName}}</h1>
         <p>{{itemDatas.itemDescription}}</p>
      </div>
      {{!-- <h5><a href="/item/addwishlist?id={{itemDatas._id}}">Add To Wishlist</a></h5> --}}
      <h5 class="add-to-wish">Add To Wishlist</h5>
      <!-- Product Pricing -->
      <div class="product-price">
         <span>{{itemDatas.itemPrice}}$</span>
         <br>
         <br>
         <a href="/item/addtocart?id={{itemDatas._id}}" class="cart-btn">Add to cart</a>
         <a href="/item/checkout?id={{itemDatas._id}}&user_id={{itemDatas.userId}}" class="buynow-btn">Buy now</a>
      </div>
   </div>
</main>

{{> footer}}
<script>
   $('.p-2').click(function () {
      var src1 = $(this).attr('src')
      var src2 = $('.main-img').attr('src')
      $('.main-img').attr('src', src1)
      $(this).attr(src2)
   })

   $('.add-to-wish').click(function () {
      $.ajax({
         url: `/item/addwishlistajax?id={{itemDatas._id}}`,
         method: 'get',
         success: function (result) {
            $('.wish-url').html(`${result} <i class="fa fa-heart" aria-hidden="true"></i>`)
            console.log(result)
         }
      });
   })
</script>