{{> header}}
<div class="row cart">
    <div class="col-lg-8">
        <div class="table-responsive">
            <table class="table table-borderless table-centered mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <!-- <th>Quantity</th> -->
                        <th style="width: 50px;"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                     {{#each wishlistitem}}
                    <tr>
                        <td>
                            <img src="{{base_url}}/img/{{photos.[0]}}" alt="contact-img" title="contact-img"
                                class="rounded me-3" height="64" />
                            <p class="m-0 d-inline-block align-middle font-16">
                                <a href="apps-ecommerce-products-details.html" class="text-body">{{itemName}}</a>
                            </p>
                        </td>
                        <td>
                             {{itemPrice}}$
                        </td>
                        <!-- <td>
                                                                <input type="number" min="1" value="5" class="form-control" placeholder="Qty" style="width: 90px;">
                                                            </td> -->

                        <td>
                            <a href="/item/removewishlist?id={{_id}}" class="action-icon"> <i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            <a href="/item/addtocart?id={{_id}}" class="btn btn-danger">
                                Add to Cart </a>
                        </td>
                    </tr>
 {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <div class="text-sm-end">

            </div>
        </div>
    </div>

</div>


{{> footer}}